.btn_detalle {
    background-color: gray;
    font-size: 12px;
    font-weight: 500;
}

.btn_detalle:hover {
    background-color: black;
    color: white;
}

.card {
    margin: 20px;
    width: 250px;
    
 }