           
 
 
    button {
      padding: 0px;
      background-color: rgb(25, 25, 25);
      //border-radius: 15px;
      
      //margin: 5px;
      padding: 5px;
      font-size: 20px;
      font-weight: 700;
      display: flex;
      //border-radius: 10px;
        
        a {
          color:rgb(203, 203, 203);
          text-decoration: none;
        }
    
    }  
    button.addtocart{
      display: flex;
      margin-left: 10px;
      background-color: white;
          a{
            color:rgb(25, 25, 25);
          }
    }
    
    button.addtocart:hover{
      background-color: bisque;
    }

    button.btn1:hover {
      
      background-color: rgba(2, 202, 66, 0.676);
      box-shadow: 5px 5px #e0dada1e;
      transition: 0.4s; 
      transform: scale(1.05);
        a {
          color:rgb(25, 25, 25);
        }
    }

    button.btn2:hover {
      
      background-color: rgba(231, 0, 0, 0.688);
      box-shadow: 5px 5px #e0dada1e;
      transition: 0.4s; 
      transform: scale(1.05);
        a {
          color:rgb(25, 25, 25);
        }
    }




