div.image{
    background-image: url("../../../public/imgs/lamb1.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 483px;
    justify-content: center;
    text-align: center;
    //filter: brightness(50%);
        
        p {
            width: 800px;
        }
}

.font-link {
    font-family: 'Lobster', cursive;

  }